<div class="content container">
  <h1>MANAGEMENT PORTAL</h1>
  <span class="col-xs-10"><h1 id="welcome" class="lead">Welcome, {{userObject.userName}}!</h1></span>
  <span class="col-xs-2"><button class="btn btn-default" ng-click="logout()">Log Out</button></span>

  <div class="row">
    <!-- EDIT ORG INFO -->
    <div class="col-xs-12 col-md-4 editOrgInfo">
      <div class="editOrgWrap borderThis">
        <h2>Edit your info:</h2>
          <div>
            <span class="blackText">Name:</span>
            <p editable-text="thisOrg.name" e-form="editOrgName"
              onaftersave="editOrg(thisOrg)">{{thisOrg.name}}</p>
            <button class="btn btn-default" ng-click="editOrgName.$show()"
              ng-hide="editOrgName.$visible">edit</button>
          </div>
          <div>
            <span class="blackText">Site:</span>
            <p editable-text="thisOrg.site" e-form="editOrgSite"
              onaftersave="editOrg(thisOrg)">{{thisOrg.site}}</p>
            <button class="btn btn-default" ng-click="editOrgSite.$show()"
              ng-hide="editOrgSite.$visible">edit</button>
          </div>
          <div>
            <span class="blackText">Email:</span>
            <p editable-text="thisOrg.email" e-form="editOrgEmail"
              onaftersave="editOrg(thisOrg)">{{thisOrg.email}}</p>
            <button class="btn btn-default" ng-click="editOrgEmail.$show()"
              ng-hide="editOrgEmail.$visible">edit</button>
            <br>
            <div class="floatThis">
              <input type="checkbox" ng-click="showInfo = false" id="hideThis">
              <label for="hideThis">Email hidden</label>
            </div>
          </div>
          <br>
          <div>
            <span class="blackText">Description:</span>
          </div>
          <div>
            <textarea editable-textarea="thisOrg.desc" e-form="editOrgDesc"
              onaftersave="editOrg(thisOrg)" rows="8" cols="25">{{thisOrg.desc}}</textarea>
            <button class="btn btn-default" ng-click="editOrgDesc.$show()"
              ng-hide="editOrgDesc.$visible">edit</button>
          </div>
          <button type="button" name="button"
            ng-click="thisOrg.id = userObject._id; editOrg(thisOrg)">Save</button>
      </div>
    </div>

    <!-- CREATE NEW EVENT -->
    <div class="col-xs-12 col-md-4 createNewEvent">
      <div class="newEventCreator borderThis">
        <h2>Create a new event!</h2>
        <form class="someNewEvent" action="index.html" method="post">
          <div>
            <span class="blackText">Name:</span>
            <input type="text" name="newEventName" value=""
              placeholder="Event name" ng-model="newEvent.name">
          </div>
          <div>
            <span class="blackText">Date:</span>
            <input type="date" name="newEventTime" value=""
              placeholder="Event time" ng-model="newEvent.time">
          </div>
          <br>
          <div>
            <span class="blackText">Collaborators:</span>
            <button ng-click="showOrgs = true" class="btn btn-sm btn-default"
              type="button" name="button">Expand</button>
              <div class="wrapOrgs" ng-show="showOrgs">
                <button ng-click="showOrgs = false"
                  type="button" name="button">X</button>
                <div class="allOrgs">
                  <div class="thisOrg" ng-repeat="someOrg in allOrgs.orgArray"
                    ng-hide="selectedCollab">
                    <button ng-click="selectedCollab = true;
                      collabs.orgsArray.push(somethisOrg_id)" type="button"
                      name="button">{{somethisOrgname}}</button>
                  </div>
                </div>
              </div>
          </div>
          <br>
          <div>
            <span class="blackText">Description:</span>
            <br>
            <textarea name="newEventDescription" rows="8" cols="25"
              placeholder="Describe your event" ng-model="newEvent.desc">
            </textarea>
          </div>
          <button type="button" name="button"
            ng-click="newEvent.creator = userObject.id;
              newEvent.orgs = collabs.orgsArray; makeAndSend(newEvent)">
            Create!</button>
        </form>
      </div>
    </div>

    <!-- DISPLAY ALL ORG EVENTS -->
    <div class="col-xs-12 col-md-4 myEvents borderThis">
      <div class="extraLayer">
        <h2>Your Events:</h2>
        <div class="eventWrap" ng-repeat="event in myEvents.eventsArray">
          <div class="thisEvent borderThis">
            <span class="blackText">Name:</span>
              <p editable-text="event.name" e-form="editName"
                onaftersave="editEvent(event)">{{event.name}}</p>
              <button class="btn btn-default" ng-click="editName.$show()"
                ng-hide="editName.$visible">edit</button>
            <br>
            <span class="blackText">Date:</span>
              <p editable-text="event.time" e-form="editDate"
                onaftersave="editEvent(event)">{{event.time}}</p>
              <button class="btn btn-default" ng-click="editDate.$show()"
                ng-hide="editDate.$visible">edit</button>
            <br>
            <span class="blackText">Collaborators:</span>
              <p>{{event.orgs}}</p>
            <br>
            <span class="blackText" e-form="editDesc">Description:</span>
              <p editable-textarea="event.desc" e-form="editDesc"
                onaftersave="editEvent(event)">{{event.desc}}</p>
              <button class="btn btn-default" ng-click="editDesc.$show()"
                ng-hide="editDesc.$visible">edit</button>
            <br>
            <button type="button" name="button" ng-click="deleteEvent(event._id)">DELETE</button>
          </div>
        </div>
      </div>
    </div>

  </div>

</div>
