<div class="content container">
  <h1>MANAGEMENT PORTAL</h1>
  <span class="col-xs-10"><h1 id="welcome" class="lead">Welcome, {{userObject.userName}}!</h1></span>
  <span class="col-xs-2"><button class="btn btn-default" ng-click="logout()">Log Out</button></span>

  <div class="row">
    <!-- EDIT ORG INFO -->
    <!-- ***NOT YET WORKING*** -->
    <div class="col-xs-12 col-md-4 editOrgInfo">
      <div class="editOrgWrap borderThis">
        <h2>Edit your info:</h2>
        <form class="orgInfo" action="index.html" method="post">
          <div>
            <span class="blackText">Name:</span>
            <input ng-model="org.name" type="text" name="orgName" value="">
          </div>
          <div>
            <span class="blackText">Site:</span>
            <input ng-model="org.site" type="text" name="orgSite" value="">
          </div>
          <div>
            <span class="blackText">Email:</span>
            <input ng-model="org.email" type="text" name="orgEmail" value="">
            <br>
            <div class="floatThis">
              <input type="checkbox" ng-click="showInfo = false" id="hideThis">
              <label for="hideThis">Email hidden</label>
            </div>
          </div>
          <br>
          <div>
            <span class="blackText">Description:</span>
          </div>
          <div>
            <textarea name="name" rows="8" cols="25" ng-model="org.desc"></textarea>
          </div>
          <button type="button" name="button"
            ng-click="org.id = userObject._id; editOrg(org)">Save</button>
        </form>
      </div>
    </div>

    <!-- CREATE NEW EVENT -->
    <div class="col-xs-12 col-md-4 createNewEvent">
      <div class="newEventCreator borderThis">
        <h2>Create a new event!</h2>
        <form class="someNewEvent" action="index.html" method="post">
          <div>
            <span class="blackText">Name:</span>
            <input type="text" name="newEventName" value=""
              placeholder="Event name" ng-model="newEvent.name">
        <!-- ***THE ABOVE ISN'T WORKING RIGHT*** -->
          </div>
          <div>
            <span class="blackText">Date:</span>
            <input type="date" name="newEventTime" value=""
              placeholder="Event time" ng-model="newEvent.time">
          </div>
          <br>
          <div>
            <span class="blackText">Collaborators:</span>
            <button ng-click="showOrgs = true" class="btn btn-sm btn-default"
              type="button" name="button">Expand</button>
              <div class="wrapOrgs" ng-show="showOrgs">
                <div class="allOrgs">
                  <div class="thisOrg" ng-repeat="someOrg in allOrgs">
                    <button ng-click="orgsArray.push(someOrg._id)"
                      type="button" name="button">{{someOrg.name}}</button>
                  </div>
                </div>
                <button ng-click="showOrgs = false"
                  type="button" name="button">COLLAPSE</button>
              </div>
          </div>
          <br>
          <div>
            <span class="blackText">Description:</span>
            <br>
            <textarea name="newEventDescription" rows="8" cols="25"
              placeholder="Describe your event" ng-model="newEvent.desc">
            </textarea>
          </div>
          <button type="button" name="button"
            ng-click="newEvent.creator = userObject.id; makeAndSend(newEvent, orgsArray)">
            Create!</button>
        </form>
      </div>
    </div>

    <!-- DISPLAY ALL ORG EVENTS -->
    <div class="col-xs-12 col-md-4 myEvents borderThis">
      <div class="extraLayer">
        <h2>Your Events:</h2>
        <div class="eventWrap" ng-repeat="event in myEvents.eventsArray">
          <div class="thisEvent borderThis">
            <span class="blackText">Name:</span>
              <p editable-text="event.name" e-form="editName"
                onaftersave="editEvent(event)">{{event.name}}</p>
              <button class="btn btn-default" ng-click="editName.$show()"
                ng-hide="editName.$visible">edit</button>
            <br>
            <span class="blackText">Date:</span>
              <p editable-text="event.time" e-form="editDate"
                onaftersave="editEvent(event)">{{event.time}}</p>
              <button class="btn btn-default" ng-click="editDate.$show()"
                ng-hide="editDate.$visible">edit</button>
            <br>
            <span class="blackText">Collaborators:</span>
              <p>{{event.orgs}}</p>
            <br>
            <span class="blackText" e-form="editDesc">Description:</span>
              <p editable-textarea="event.desc" e-form="editDesc"
                onaftersave="editEvent(event)">{{event.desc}}</p>
              <button class="btn btn-default" ng-click="editDesc.$show()"
                ng-hide="editDesc.$visible">edit</button>
            <br>
            <button type="button" name="button" ng-click="deleteEvent(event._id)">DELETE</button>
          </div>
        </div>
      </div>
    </div>

  </div>

</div>
