<div class="content row container">
  <div class="wrapper">
    <h1 class="col-xs-12">ADMIN VIEW</h1>
    <span><h1 id="welcome" class="lead">Welcome, {{userObject.userName}}!</h1></span>
    <span><button class="btn btn-default" ng-click="logout()">Log Out</button></span>

    <!-- SHOW CURRENT REQUESTS -->
    <div class="requests">
      <div class="thisRequest" ng-repeat="request in newReqArray">
        <h4>{{request.name}}</h4>
        <p>{{request.email}}</p>
        <p>{{request.desc}}</p>
      </div>
    </div>

    <!-- EMAIL TO AN ORGANIZATION -->
    <div>
        <form novalidate ng-submit="submitForm(mailObject)">
          Send Email To:<br>
          <input type="text" ng-model="mailObject.toEmail"><br>
          Subject:<br>
          <input type="text" ng-model="mailObject.subject"><br>
          Message:<br>
          <input type="text" ng-model="mailObject.message"><br>
          <button>Submit</button><br>
          <br>
        </form>
    </div>

    <!-- SHOW ALL ORGANIZATIONS -->
    <div class="orgsCol col-xs-6">
      <h2>Organizations:</h2>

      <div ng-repeat="org in orgsArray" class="thisOrg">
        <span>{{org.name}}</span>
        <span>{{org.email}}</span>
        <span><button ng-click="deleteThis()" type="button" name="deleteOrg">DELETE</button></span>
      </div>

    </div>

    <!-- SHOW ALL EVENTS -->
    <div class="eventsCol col-xs-6">
      <h2>Events:</h2>
      <!-- <div class="possibleCalendar">
        Possible Calendar?
      </div> -->

      <div ng-repeat="event in eventsArray" class="thisEvent">
        <span>{{event.name}}</span>
        <span>{{event.sponsorsArray}}</span>
        <span><button ng-click="deleteThis()" type="button" name="deleteEvent">DELETE</button></span>
      </div>

    </div>

  </div>
</div>
