<!DOCTYPE html>
<html ng-app="myApp">
  <head>
    <meta charset="utf-8">
    <!-- SOURCES -->
    <script src="vendors/jquery/jquery.min.js" charset="utf-8"></script>
    <script src="vendors/bootstrap/js/bootstrap.js" charset="utf-8"></script>
    <link rel="stylesheet" href="vendors/bootstrap/css/bootstrap.css">
    <link rel="stylesheet" href="styles/style.css">
    <script src="vendors/angular/angular.js" charset="utf-8"></script>
    <script type="text/javascript" src="scripts/client.js"></script>
    <title>Solidarify</title>
  </head>
  <body>
    <div class="content row">
      <div class="wrapper">

        <!-- LOGIN BUTTON -->
        <div class="login col-xs-12">
          <div class="empty col-xs-10">
          </div>
          <div class="loginButton col-xs-2">
            <button class="btn btn-lg btn-default" type="button" name="login">Log In</button>
          </div>
        </div>

        <div class="buffer col-xs-12">
        </div>

        <!-- SEARCH BUTTON -->
        <div class="search col-xs-12">
          <div class="empty col-xs-5">
          </div>
          <div class="col-xs-2">
            <button class="btn btn-lg btn-default" type="button" name="search">Search</button>
          </div>
          <div class="empty col-xs-5">
          </div>
        </div>

        <div class="buffer col-xs-12">
        </div>

        <!-- REGISTER BUTTON -->
        <div class="register col-xs-12">
          <button id="registerBtn" ng-click="registerVar = true" class="btn btn-lg btn-default" type="button" name="register">Register</button>
        </div>

        <div ng-show="registerVar" class="ng-cloak" class="registrationForm col-xs-12">
          <form class="registration" action="index.html" method="post">
            <h3>Request To Join Solidarify</h3>
            <input type="text" name="orgName" required="required"
              placeholder="Organization Name" value="">
            <input type="text" name="email" required="required"
              placeholder="Email" value="">
            <input type="text" name="website"
              placeholder="Website" value="">

            <p><div class="smallBuff"></div></p>

            <p><textarea cols="50" rows="10" name="description" required="required"
                placeholder="Description" value=""></textarea></p>

            <button ng-click="registerVar = false" type="button" name="button" class="btn btn-lg btn-default">Submit</button>
          </form>
        </div>

      </div>
    </div>
  </body>
</html>
