<!DOCTYPE html>
<html ng-app="myApp">
  <head>
    <meta charset="utf-8">
    <!-- SOURCES -->
    <!-- : : : -->
    <!-- STYLES -->
    <link rel="stylesheet" href="/vendors/bootstrap/css/bootstrap.css">
    <link rel="stylesheet" href="/styles/style.css">
    <!-- ANGULAR -->
    <script type="text/javascript" src="/vendors/angular/angular.min.js"></script>
    <script type="text/javascript" src="/vendors/angular-route/angular-route.min.js"></script>
    <!-- CLIENT ROUTING -->
    <script type="text/javascript" src="/scripts/client.js"></script>
    <!-- FACTORIES -->
    <script type="text/javascript" src="/scripts/factories/InfoService.js"></script>
    <script type="text/javascript" src="/scripts/factories/LoginService.js"></script>
    <script type="text/javascript" src="/scripts/factories/MailService.js"></script>
    <script type="text/javascript" src="/scripts/factories/PermissionService.js"></script>
    <script type="text/javascript" src="/scripts/factories/RequestService.js"></script>
    <!-- <script type="text/javascript" src="/scripts/factories/SearchService.js"></script> -->
    <!-- CONTROLLERS -->
    <script type="text/javascript" src="/scripts/controllers/activateController.js"></script>
    <script type="text/javascript" src="/scripts/controllers/adminController.js"></script>
    <script type="text/javascript" src="/scripts/controllers/collaborateController.js"></script>
    <script type="text/javascript" src="/scripts/controllers/homeController.js"></script>
    <script type="text/javascript" src="/scripts/controllers/orgController.js"></script>
    <script type="text/javascript" src="/scripts/controllers/registerController.js"></script>
    <!-- <script type="text/javascript" src="/scripts/controllers/searchController.js"></script> -->

    <title>Solidarify</title>
  </head>
  <body>
    <main ng-view>
      <!-- CONTENT -->
    </main>
  </body>
</html>
