<!DOCTYPE html>
<html ng-app="myApp">
  <head>
    <meta charset="utf-8">
    <script src="vendors/jquery/jquery.min.js" charset="utf-8"></script>
    <script src="vendors/bootstrap/js/bootstrap.js" charset="utf-8"></script>
    <link rel="stylesheet" href="vendors/bootstrap/css/bootstrap.css">
    <link rel="stylesheet" href="styles/style.css">
    <script src="vendors/angular/angular.js" charset="utf-8"></script>
    <script type="text/javascript" src="scripts/client.js"></script>
    <title></title>
  </head>
  <body>
    <h1>SEARCH!</h1>
    <!-- VISUALIZATION OF DATA ; SEARCH FEATURE IS TRIVIAL TO ADD -->
  </body>
</html>
