<form class="registration" action="index.html" method="post">
  <h3>Request To Join Solidarify</h3>
  <input type="text" name="orgName" required="required"
    placeholder="Organization Name" value="">
  <input type="text" name="email" required="required"
    placeholder="Email" value="">
  <input type="text" name="website"
    placeholder="Website" value="">

  <p><div class="smallBuff"></div></p>

  <p><textarea cols="50" rows="10" name="description" required="required"
      placeholder="Description" value=""></textarea></p>

  <button ng-click="registerVar = false" type="button" name="button" class="btn btn-lg btn-default">Submit</button>
</form>
